/* ==========================================================================
   Base colors
   ========================================================================== */
$white: #FFFFFF;
$black: #1B1C1D;
$grey: #ECF0F1;
$red: #DB2828;
$blue: #2185D0;
$bg-color: #EEF2F5;

/* ==========================================================================
   Light colors
   ========================================================================== */
$light-grey: #B1B4B5;

/* ==========================================================================
   Dark colors
   ========================================================================== */
$dark-blue: #2C3E50;